/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter';
    --accent-font: 'PressStart2P';
    --main-wght: 410;
    --title-wght: 715;
    --bg-gradient: #d3d3d3;
    --gradient-top: #e7e7e7;
    --gradient-bottom: #1a1a1a;
    --container-width: clamp(375px, calc(375px + (700 - 375) * (100vw - 375px) / (1440 - 375)), 700px);
    --stroke-color: #fff;
    --btn-text-color: #fff;
    --contour-color: black;
    --sparks-color: red;
}
